.nicola .section-img {
    margin-top: -0.1rem;
    z-index: -1;
    background-image: url('/imgs/nicola_moore.png');
    background-position: right center;
    height: 62rem;
    .cover--white {
        background: rgba(220, 220, 225, 0.1);
    }
}
.nicola .section-stripline h2 {
    font-size: 5rem;
    line-height: 1;
    padding-top: 4rem;
    font-weight: 200;
}
.professional-bodies {
    padding: 3rem 0;
    li {
        display: inline-block;
        img {
            height: 5.5rem;
            margin: 1rem 2rem 1rem 0;

            filter: grayscale(100%);
        }
    }
}
.pblogo {
    filter: grayscale(100%);
    top: -0.7rem;
}
.expertise {
    padding: 2rem 0 4rem;
    width: 80rem;
    margin: auto;
    li {
        border: solid 0.1rem $COLOR_LIGHT;
        border-radius: 0.5rem;
        display: inline-block;
        height: 18rem;
        width: 18rem;
        padding: 2rem;
        text-align: center;
        margin: 0.7rem;
    }

    img {
        max-height: 9rem;
        max-width: 10rem;
        opacity: 0.3;
        margin: 1rem auto 1rem;
    }
    p {
        font-size: 1.2rem;
    }
}
.start {
    a {
        font-weight: bold;
    }
}

@include tablet {
    .nicola .section-img {
        padding-top: 20%;
        background-position: 60% center;
        .cover--white {
            background: rgba(220, 220, 225, 0.1);
        }
    }
    .expertise {
        width: 100%;
        li {
            width: 30%;
            vertical-align: bottom;
        }
    }
}
@include mobile {
    .nicola .section-img {
        background-position: 80% center;
        margin-bottom: 20rem;
        span {
            display: block;
        }
    }
    .expertise {
        li {
            margin: 1%;
            width: 48%;
        }
    }
    .nicola .section-stripline {
        background-color: #fff;
        width: 100%;
        position: absolute;
        bottom: -15rem;
        left: 0;
        display: block;
        text-align: center;
        font-size: 3rem;
        b {
            text-transform: uppercase;
            font-size: 4.5rem;
            line-height: 1.2;
        }
    }
    .nicola .section-stripline h2 {
        font-size: 3.8rem;
    }
    .professional-bodies {
        li {
            img {
                height: 4.5rem;
                margin-right: 1rem;
            }
        }
    }
}
@include mobile-sm {
    .nicola .section-img {
        height: 90vh;
        background-position: 70% center;
    }
    .expertise {
        li {
            margin: 0.3rem 0;
            width: 100%;
        }
    }
    .professional-bodies {
        li {
            img {
                height: 4rem;
                margin-right: 1rem;
            }
        }
    }
    .nicola .section-stripline h2 {
        font-size: 2.8rem;
        b {
            font-size: 3.4rem;
            line-height: 1.3;
            padding-bottom: 2rem;
        }
    }
}
