.nicola .section-img {
    margin-top: -0.1rem;
    z-index: -1;
    background-image: url('/imgs/nicola_moore.png');
    background-position: right center;
    min-height: 90vh;
    .cover--white {
        background: rgba(220, 220, 225, 0.1);
    }
}
.nicola .section-stripline {
    font-size: 5rem;
    line-height: 1;
    padding-top: 2rem;
}
.professional-bodies {
    padding: 3rem 0;
    li {
        display: inline-block;
        img {
            height: 6rem;
            margin-right: 3rem;
        }
    }
}
.expertise {
    padding: 2rem 0 4rem;
    width: 80rem;
    margin: auto;
    li {
        border: solid 0.1rem $COLOR_LIGHT;
        border-radius: 0.5rem;
        display: inline-block;
        height: 18rem;
        width: 18rem;
        padding: 2rem;
        text-align: center;
        margin: 0.7rem;
    }

    img {
        max-height: 9rem;
        max-width: 10rem;
        opacity: 0.3;
        margin: 1rem auto 1rem;
    }
    p {
        font-size: 1.2rem;
    }
}
.start {
    a {
        font-weight: bold;
    }
}

@include tablet {
    .nicola .section-img {
        background-position: 20% center;
        .cover--white {
            background: rgba(220, 220, 225, 0.3);
        }
    }
    .expertise {
        width: 100%;
        li {
            width: 30%;
            vertical-align: bottom;
        }
    }
}
@include mobile {
    .nicola .section-img {
        padding-top: 35%;
        background-position: 60% center;
        span {
            display: block;
        }
    }
    .expertise {
        li {
            margin: 1%;
            width: 48%;
        }
    }
}
@include mobile-sm {
    .nicola .section-img {
        height: 100vh;
        padding-top: 90%;
        background-position: 65% center;
    }
    .expertise {
        li {
            margin: 0.3rem 0;
            width: 100%;
        }
    }
    .professional-bodies {
        display: flex;
        justify-content: space-around;
        li {
            img {
                height: 5rem;
                margin-right: 0.5rem;
            }
        }
    }
    .nicola .section-stripline {
        line-height: 0.8;
        b {
            font-size: 3.5rem;
            top: -0.6rem;
        }
    }
}
