.nicola .section-img {
    margin-top: -1rem;
    z-index: -1;
    background-image: url('/imgs/nicola_moore.png');
    background-position: right bottom;
    .cover--white {
        background: rgba(255, 255, 255, 0.1);
    }
}
.professional-bodies {
    padding: 3rem 0;
    li {
        display: inline-block;
        img {
            height: 6rem;
            margin-right: 3rem;
        }
    }
}
.expertise {
    padding: 2rem 0 4rem;
    width: 80rem;
    margin: auto;
    li {
        border: solid 0.1rem #f0f0f2;
        border-radius: 0.5rem;
        display: inline-block;
        height: 18rem;
        width: 18rem;
        padding: 2rem;
        text-align: center;
        margin: 0.7rem;
    }

    img {
        max-height: 9rem;
        max-width: 10rem;
        opacity: 0.3;
        margin: 1rem auto 1rem;
    }
    p {
        font-size: 1.2rem;
    }
}
.start {
    a {
        font-weight: bold;
    }
}
