.online .section-img {
    background-image: url('/imgs/girl_w_laptop_2_flipped.png');
}
.online-drawing {
    height: 7rem;
    opacity: 0.5;
    padding: 0 2rem 2rem;
}
.hello .section-img {
    background-image: url('/imgs/step_flipped.png');
    background-position: right center;
    .cover--white {
        background: rgba(255, 255, 255, 0.4);
    }
}
@include tablet {
    .hello .section-img {
        .cover--white {
            background: rgba(255, 255, 255, 0.6);
        }
    }
}
@include mobile {
    .hello .section-img {
        background-position: 70% center;
    }
}
