footer {
    background-color: $COLOR_SECONDARY_DARK;
    padding: 4rem 2rem 3rem;
    color: #e1e3e0;
    text-align: center;
    ul {
        padding-bottom: 3rem;
        font-size: 1.4rem;
    }
    li {
        display: inline-block;
        padding: 0 1rem;
    }
}
.contact {
    padding: 17rem 0 5rem;
    display: inline-grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    margin: auto;
    width: 75rem;
    text-align: left;
    form {
        padding-left: 5rem;
    }
    label {
        font-size: 1.4rem;
        padding-left: 2rem;
        text-align: center;
        top: 3.2rem;
    }

    input,
    .btn {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .btn {
        padding: 1.6rem;
        margin-top: 2rem;
    }
    .btn:disabled,
    .btn[disabled] {
        border: 1px solid #dfdfdf;
        background-color: #efefef;
        color: #777;
        cursor: no-drop;
    }
    input {
        color: $COLOR_DARK;
        border: solid 0.1rem $COLOR_DARK;
        border-radius: 3rem;
        padding: 1.5rem 2rem;
        text-align: center;
        display: block;
        font-size: 1.4rem;
        text-align: left;
    }

    input:focus {
        background-color: #f5f5f6;
        border-color: $COLOR_THEME_DARKER;
    }
    input.filled {
        background-color: #f5f5f6;
    }
    ul {
        padding-top: 1rem;
    }
    li {
        display: inline-block;
        padding-right: 1rem;
    }
    a img {
        height: 3.2rem;
        opacity: 0.8;
    }
    .honeyTrap {
        width: 1px;
        height: 1px;
        position: absolute;
        z-index: -1;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        left: -9999999px;
        top: 0;
    }
    .error {
        color: crimson;
        margin: 1rem 0;
        text-align: left;
        position: absolute;
        top: 100%;
        font-size: 1.2rem;
    }
}
.contact-drawing {
    height: 10rem;
    margin: 7rem auto 0;
    opacity: 0.7;
    grid-column: span 2;
    opacity: 0.3;
}
.message {
    width: 98vw;
    position: fixed;
    opacity: 0;
    top: -5rem;
    left: 1vw;
    background: $COLOR_THEME_DARKER;
    color: #fff;
    font-size: 1.4rem;
    line-height: 3rem;
    border-radius: 8px;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.8);
    z-index: 99;
    display: flex;
    p {
        padding: 2rem 5%;
        flex-grow: 1;
        text-align: left;
    }
    .close {
        background-color: rgba(255, 255, 255, 0.3);
        padding: 0 2rem;
        font-size: 2rem;
        font-size: 3rem;
        color: #fff;
    }
    animation: slideInMessage 0.75s forwards;
}
@keyframes slideInMessage {
    to {
        opacity: 1;
        top: 1vh;
    }
}
.message.error {
    background-color: crimson;
}
@include desktop-sm {
    .contact {
        width: 100%;
        padding-right: 15%;
        padding-left: 15%;
    }
}

@include tablet {
    .contact {
        display: block;
        padding-top: 14rem;
        padding-left: 15%;
        padding-right: 15%;
        width: 70rem;
        text-align: center;
        margin: auto;
        form {
            padding-left: 0;
            margin-top: 2rem;
        }
        input,
        .btn {
            text-align: center;
            width: 100%;
        }
    }
}
@include mobile {
    footer {
        li {
            display: inline-block;
            padding: 0 0.8rem;
            font-size: 1.2rem;
        }
    }
    .contact {
        width: 100%;
    }
    .contact-drawing {
        height: 8.5rem;
    }
}
@include mobile-sm {
    footer {
        li {
            display: inline-block;
            padding: 1rem 0.7rem;
            font-size: 1.2rem;
        }
        li:first-child,
        li:nth-child(2) {
            display: none;
        }
    }
    .contact {
        padding-right: 10%;
        padding-left: 10%;
    }
    .contact-drawing {
        height: 7rem;
        margin-top: 5rem;
    }
}
