footer {
    background-color: $COLOR_SECONDARY_DARK;
    padding: 4rem 2rem 3rem;
    color: #e1e3e0;
    text-align: center;
    ul {
        padding-bottom: 3rem;
        font-size: 1.4rem;
    }
    li {
        display: inline-block;
        padding: 0 1rem;
    }
    a:focus,
    a:hover {
        text-decoration: none;
        border-bottom: solid 0.1rem #fff;
    }
}

@include mobile {
    footer {
        li {
            display: inline-block;
            padding: 0 0.8rem;
            font-size: 1.2rem;
        }
    }
}
@include mobile-sm {
    footer {
        li {
            display: inline-block;
            padding: 1rem 0.7rem;
            font-size: 1.2rem;
        }
        li:first-child,
        li:nth-child(2) {
            display: none;
        }
    }
}
