header {
    padding: 3.5rem 10% 3rem;
    display: flex;
    align-items: center;
    h1 a {
        font-size: 3rem;
        font-weight: 400;
    }

    nav {
        flex-grow: 1;
        text-align: right;
        padding: 0.9rem 0 0.2rem;
    }
    li {
        display: inline-block;
        padding: 0 1.2rem;
    }
    a {
        font-size: 1.6rem;
    }
    a:focus,
    a:hover {
        text-decoration: none;
        border-bottom: solid 0.1rem #111;
    }

    h1 a:hover {
        text-decoration: none;
        border-bottom: solid 0.1rem #111;
    }
}

@include tablet {
    header {
        padding: 3.5rem 5% 3rem;
        li {
            padding: 0 1rem;
        }
    }
}

@include mobile {
    header {
        display: block;
        padding: 0;
        text-align: center;
        h1 {
            background-color: #2a2a36;
            color: #fff;
            padding: 2.5rem 5%;
        }
        h1 a:hover {
            border-bottom: none;
        }
        nav {
            text-align: center;
            padding: 0;
        }
        nav ul {
            padding: 2.7rem 0;
            width: 100%;
        }
    }
}
