header {
    padding: 3.5rem 10% 3rem;
    display: flex;
    align-items: center;
    h1 a {
        font-size: 3rem;
        font-weight: 400;
    }

    nav {
        flex-grow: 1;
        text-align: right;
        padding: 0.9rem 0 0.2rem;
    }
    li {
        display: inline-block;
        padding: 0 1.2rem;
    }
    a {
        font-size: 1.6rem;
    }
    a:focus,
    a:hover {
        text-decoration: none;
        border-bottom: solid 0.1rem #111;
    }

    h1 a:hover {
        text-decoration: none;
        border-bottom: solid 0.1rem #111;
    }
}
