.top {
    background-color: $COLOR_THEME;
    padding: 6rem 0;
    img {
        opacity: 0.9;
    }
}
.top-rel,
.top-abs {
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
}
.top-rel {
    position: relative;
}

.top-strapline {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: center;
    top: -1rem;
}

.top-title {
    font-size: 9.5rem;
    font-size: 7.6rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
}
.top-subtitle {
    font-size: 2.7rem;
    font-size: 3.8rem;
    font-weight: 200;
    // text-transform: uppercase;
    margin-bottom: 0.2rem;
    margin-top: -0.5rem;
}
.top-desc {
}
