.top {
    background-color: $COLOR_THEME;
    padding: 6rem 0;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    img {
        opacity: 0.9;
    }
}
.top-rel,
.top-abs {
    min-width: 130rem;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}
.top-rel {
    position: relative;
}

.top-strapline {
    text-align: center;
    z-index: 3;
}

.top-title {
    font-size: 7.6rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 1rem;
    padding: 0 2rem;
    width: 100%;
    span {
        color: #fff;
    }
}
// .top-subtitle {
//     display: none;
//     font-size: 3.5rem;
//     font-weight: 200;
//     margin-top: -0.5rem;
// }
.top-desc {
    // font-weight: bold;
    font-size: 2.2rem;
    font-weight: 500;
    margin-top: 0.7rem;
}
img.tablet,
img.mobile {
    display: none;
}
@media only screen and (max-width: 1300px) {
    .top-rel,
    .top-abs {
        min-width: 100%;
        width: 105%;
    }
    .top-strapline {
        width: 100vw;
    }
}
@include tablet {
    .top {
    }
    img.side {
        opacity: 0;
    }
}
@include mobile {
    .top {
        min-height: 10rem;
    }

    .top-strapline {
        width: 100vw;
        position: relative;
        padding: 4rem 1rem;
    }
    .top-title {
        margin: auto;
        max-width: 9ch;
        font-size: 7rem;
    }
    .top-desc {
        font-size: 1.8rem;
    }
    img.desktop {
        display: none;
    }
    img.tablet {
        width: 45rem;
        margin: auto;
        display: block;
    }
}
@include mobile-sm {
    img.tablet {
        width: 34rem;
    }
    .top-title {
        font-size: 6rem;
    }
    .top-desc {
        width: 25ch;
        margin-left: auto;
        margin-right: auto;
    }
}
