.top {
    background-color: $COLOR_THEME;
    padding: 0;
    height: 62rem;
    img {
        opacity: 0;
        // min-width: 90%;
        height: 20rem;
        margin: 4.5rem auto 10rem;
        left: 50%;
        transform: translateX(-50%) scale(-1.2, 1.2);
        animation: fadeIn 2s ease-in-out forwards;
    }
}
@keyframes fadeIn {
    100% {
        opacity: 0.7;
        transform: translateX(-50%) scale(-1, 1);
    }
}
.desktop {
    display: inline-block;
}
.mobile {
    display: none;
}

.top-strapline {
    text-align: center;
    z-index: 3;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-title {
    font-size: 7.6rem;
    font-weight: 400;
    letter-spacing: -0.1rem;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 2rem;
    padding: 0 2rem;
    width: 100%;
    span {
        color: #fff;
    }
}

.top-desc {
    font-size: 2.1rem;
    font-weight: 500;
    margin-top: 0.7rem;
}

@media only screen and (max-width: 1300px) {
}
@include tablet {
}
@include mobile {
    .top-strapline {
        padding-bottom: 3rem;
    }
    .top-title {
        max-width: 9ch;
        font-size: 7rem;
        line-height: 0.9;
    }
    .top-desc {
        font-size: 1.8rem;
    }
    .top {
        height: 70rem;
        img {
            height: 18rem;
            margin: 6rem auto 14rem;
        }
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: inline-block;
    }
}
@include mobile-sm {
    .top-title {
        font-size: 6rem;
    }
    .top-desc {
        width: 25ch;
        margin-left: auto;
        margin-right: auto;
    }
}
