//==========================
//  SCREEN READERS STYLING
//==========================
.sr-only {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip: rect(1px 1px 1px 1px); //IE6 and IE7
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

button:focus {
}
a:link,
a:visited a:active {
}
a:hover {
}
a:focus {
}
.bg-theme {
    background-color: $COLOR_THEME;
}
