body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-weight: normal;
}
b,
strong {
    font-weight: bold;
}
button {
    border: none;
    background: none;
}

li,
ol {
    list-style: none;
}
a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: underline;
}
a:focus,
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
input {
    border: none;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
}
