$COLOR_THEME: #88e2ce;
$COLOR_THEME_DARKER: #37c8ab;
$COLOR_SECONDARY_DARK: #435d77;
$COLOR_SECONDARY_DARK: #1e2b38;
$COLOR_SECONDARY_DARK: #282b33;
// $COLOR_SECONDARY_DARK: #2f2f2f;
// $COLOR_SECONDARY_DARK: #323537;
$COLOR_SECONDARY_DARK: #444750;
// $COLOR_SECONDARY_DARK: #333533;
$COLOR_SECONDARY_LIGHT: #efe6c3;
$COLOR_DARK: #2a2a36;
